body {
    margin: 0;
    padding: 0;
    background: #000;
    height: 100%;
    width: 100%;
    background: url('ni.jpg') no-repeat center center fixed;
    background-size: cover; /* Make it cover the entire screen */
}
}

p {
    font-size: 12px;
    line-height: 8px;
    text-align: justify;
    background-repeat: no-repeat;
    background-position: center;
   background-attachment: fixed;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(225, 225, 255, 0);
}
