body {
    margin: 0;
    padding: 0;
    background: #000;
    height: 100%;
    width: 100%;
}

p {
    font-size: 12px;
    line-height: 8px;
    text-align: justify;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background: url(ni.jpg) no-repeat center;
   background-attachment: fixed;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(225, 225, 255, 0);
}
